body {
	font-family: Verdana;
	background-color: #FBA363;
	margin: 0 auto;
	max-width: 50em;
}

p {
	font-family: sans-serif;
	color: #1A69DF;
}

p::first-letter {
	float: left;
	width: 15em;
	line-height: 15px;
	font-size: 50px;
}

img {
	width: 120pt;
	height: 80pt;
}

a:link {
	color: green;
	text-decoration: none;
}

a:visited {
	color: cyan;
}

a:hover {
	color: magenta;
	text-decoration: underline;
}